<div class="row">
    <div class="col col-2 z-1 bg-blue fg-white">
        <div class="col-header">
            <p>Boks1</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi architecto assumenda commodi delectus dicta dolorem ducimus enim eveniet harum in ipsam minima minus nesciunt nobis quae sint ullam, voluptatibus.</p>
    </div>
    <div class="col col-2 z-1 bg-red fg-white">
        <div class="col-header">
            <p>Boks2</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, ducimus, eius excepturi facere in, itaque laborum minima nesciunt officiis repudiandae soluta tenetur? Dolores id itaque modi vitae! Delectus, doloremque, libero.</p>
    </div>
    <div class="col col-2 z-1 bg-yellow fg-white">
        <div class="col-header">
            <p>Boks3</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam assumenda consectetur cumque esse excepturi hic ipsam, laboriosam maxime neque, nihil odit praesentium quam quasi quis recusandae sit tempore voluptatem.</p>
    </div>
    <div class="col col-2 z-1 bg-green fg-white">
        <div class="col-header">
            <p>Boks4</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, quos rem? Alias eligendi porro quae recusandae rem? Adipisci consectetur ea, eligendi inventore iste minima quae vitae voluptas. A, excepturi, repellat.</p>
    </div>
</div>